body {
  background-color: black;
  font-family: Arial, sans-serif;
  color: yellow;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 37.5em;
  margin: 0 auto;
  padding: 1.25em;
}

h1 {
  text-align: center;
  color: yellow;
  margin-bottom: 2.5em;
}

p {
  font-family: Arial;
  font-size: 1.5em;
  color: yellow;
}

.email-bar,
.name-bar {
  margin-left: 0.75em;
  margin-top: 0.75em;
  border: none;
  width: calc(100% - 1.5em);
  border-radius: 0.1875em;
  padding: 0.9375em;
  background-color: #333;
  color: yellow;
}

.submit-button,
.reset-button {
  font-size: 1em;
  font-weight: bold;
  margin-left: 0.75em;
  padding: 0.9375em;
  border: none;
  border-radius: 0.1875em;
  color: black;
  background-color: yellow;
  cursor: pointer;
  transition: background-color 0.15s, opacity 0.15s;
}

.submit-button:hover,
.reset-button:hover {
  background-color: black;
  color: yellow;
}

.submit-button:active,
.reset-button:active {
  background-color: #333;
  opacity: 0.8;
}

label {
  padding: 0.75em 0.75em 0.75em 0;
  display: inline-block;
  color: yellow;
}

.navbar {
  background-color: black;
  overflow: hidden;
  position: sticky;
  z-index: 1000;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

.navbar a {
  display: block;
  font-size: 1.5em;
  color: yellow;
  text-align: center;
  padding: 1em;
  text-decoration: none;
  margin: 0 0.625em;
  transition: background-color 0.15s, color 0.15s;
}

.navbar a:hover {
  background-color: yellow;
  color: black;
}

.navbar a.active {
  background-color: yellow;
  color: black;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

.banner-2 {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 43.75em;
}

.banner-2::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.banner-2-img {
  width: 100%;
  height: 43.75em;
  object-fit: cover;
}

.banner-text-wrapper {
  position: absolute;
  text-align: center;
  width: 100%;
}

.banner-text {
  color: yellow;
  font-size: 3.5em;
  font-weight: bold;
  text-shadow: 0.15em 0.15em 0.75em rgba(0, 0, 0, 0.7);
}

.banner-text-2 {
  color: yellow;
  font-size: 1.5em;
  font-weight: bold;
  text-shadow: 0.15em 0.15em 0.75em rgba(0, 0, 0, 0.7);
}

.rating {
  font-size: 1.25em;
  padding: 0.625em;
  border-radius: 0.3125em;
  border: 0.0625em solid yellow;
  appearance: none;
  background-color: #333;
  color: yellow;
}

footer {
  padding: 3.125em;
  background-color: black;
  color: yellow;
}

.footer-content {
  display: flex;
  justify-content: space-between;
}

.footer-content div {
  flex-basis: 30%;
}

.footer-content h2 {
  margin-bottom: 0.9375em;
  font-size: 1.5em;
}

.footer-content a {
  color: yellow;
  text-decoration: none;
}

.footer-content a:hover {
  color: black;
  background-color: yellow;
}

.contact-details p {
  display: block;
  margin-bottom: 0.75em;
  font-size: large;
}

.quick-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.quick-links a {
  display: block;
  margin-bottom: 0.75em;
}

.social-media-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.social-media-links a {
  display: block;
  margin-bottom: 0.75em;
}

.copyright {
  text-align: center;
  width: 100%;
}

footer hr {
  border: none;
  border-top: 0.075em solid yellow;
  margin: 1.5em 0;
  width: 100%;
}

address {
  font-style: normal;
  margin: 0;
}

.skip-link {
  position: fixed;
  left: 10px;
  width: auto;
  height: auto;
  overflow: hidden;
  z-index: 1001;
  background-color: transparent;
  color: transparent;
  padding: 10px;
  white-space: nowrap;
  transition: top 0.3s, left 0.3s;
}

.skip-link:first-of-type {
  top: 50px;
}

.skip-link:last-of-type {
  top: 70px;
}

.skip-link:focus {
  left: 10px;
  color: yellow;
  background-color: black;
  overflow: visible;
}

#highContrastToggle {
  position: fixed;
  top: 5px; /* Move it up */
  right: 10px;
  padding: 10px 20px; /* Keep the same size */
  background-color: yellow;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  z-index: 1051; /* Ensure it is above the navbar */
}

#highContrastToggle:hover {
  background-color: black;
  color: yellow;
}

#darkModeToggle {
  background-color: yellow;
  color: black;
  position: fixed;
  border-width: 1px;
  bottom: 10px;
  right: 10px;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  z-index: 1001;
  transition: background-color 0.15s, color 0.15s;
}

#darkModeToggle:hover {
  background-color: black;
  color: yellow;
}

.hamburger {
  display: none;
  background: none;
  border: none;
  color: yellow;
  font-size: 30px;
  cursor: pointer;
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 1050;
}

/* Responsive Styles */
/* Small Screens */
@media (max-width: 600px) {
  .hamburger {
    display: block;
  }

  #nav-links {
    display: none;
    position: fixed;
    top: 40px; /* Adjusted to be slightly lower */
    left: 0;
    width: 100%;
    background-color: black;
    text-align: center;
    z-index: 1045;
  }

  #nav-links.show {
    display: block;
  }

  #nav-links li {
    display: block;
  }

  .navbar a {
    padding: 0.75em;
    font-size: 1.25em;
  }

  .footer-content a,
  .contact-details p,
  address {
    font-size: 1.4em;
  }

  .skip-link:first-of-type {
    top: 50px;
  }

  .skip-link:last-of-type {
    top: 70px;
  }

  .container {
    width: 90%;
  }

  textarea {
    width: calc(100% - 1.5em);
  }

  .email-bar,
  .name-bar {
    width: calc(100% - 2.5em);
  }
}

/* Medium Screens */
@media (min-width: 601px) and (max-width: 1024px) {
  .skip-link:first-of-type {
    top: 50px;
  }

  .skip-link:last-of-type {
    top: 70px;
  }

  .container {
    width: 75%;
  }

  .email-bar,
  .name-bar,
  textarea {
    width: calc(100% - 1.5em);
  }
}

/* Large Screens */
@media (min-width: 1025px) {
  .skip-link {
    top: 10px;
    left: 10px;
    padding: 10px;
  }

  .footer-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
  }

  .footer-content div {
    flex-basis: 30%;
  }

  .navbar ul {
    flex-direction: row;
    justify-content: space-around;
  }

  .navbar a {
    padding: 1em 1.25em;
    font-size: 1.5em;
  }

  .container {
    width: 60%;
  }
}
